/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";
@import "fonts.less";

/* ==========================================================================
   Base
   ========================================================================== */


// Color Swatches

@orange:                 #F38630;
@fire:                   #E06D20;
@water:                  #89C6C1;
@sand:                   #FFF6D2;

body { 

   font-family: 'Lato';
   font-weight: 300;
   line-height: 2.5em;

   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Lato';
      font-weight: 300;
   }

   p {
      font-size: 18px;

   }


   a {
      color: @fire;
      &:hover, 
      &:focus {
         color: @orange;
         text-decoration: none;
      }
   }


}



/* ==========================================================================
   Header
   ========================================================================== */


.navbar { 

   .navbar-brand {
      height: auto;
   }

   .navbar-nav{
      margin-top: 60px;

      li {
         font-size: 18px;

         a {
            color: @fire;
            &:hover, 
            &:focus {
               color: @orange;
            }
         }

         .dropdown-menu {
            padding: 10px 0px;
            border: none;
            background-color: @orange;
            li {
               a {
                  padding: 8px 20px;
               }
            }
            .active {            
               a {
                  background-color: @fire;
                 
               }
            }
         }
      }

      .open {
         
         a {
            color: white;
            font-weight: 100;
            &:hover, 
            &:focus {
               background-color: @fire;
               color: white;
            }
         }
      }

      .active {
         
         & > a {
            background-color: @orange;
            color: white;
            &:hover, 
            &:focus {
               background-color: @fire;
               color: white;
            }
         }
         
      }

   }



}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   .widget {
      background-color: @water;
      color: @sand;
      padding: 10px 20px;
      margin: 20px 0px;
      
      a {
         color: white;
         &:hover, 
         &:focus {
            color: @sand;
            text-decoration: none;
         }
      }
   }

}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
   Events
   ========================================================================== */

.event-registration { 

   .page-header h1 {
      font-size: 26px;
   }

   .event_title {
      margin-top: 40px;
   }

   .event_prices {
      &::before {
         content:'\f08a';
         font-family: 'FontAwesome';
         padding-right: 7px;
      }
   }

   .date-heading {
      &::before {
         content:'\f017';
         font-family: 'FontAwesome';
         padding-right: 7px;
      }
   }

   .location-heading {
      &::before {
         content:'\f041';
         font-family: 'FontAwesome';
         padding-right: 7px;
      }
   }

   .spaker-heading {
      &::before {
         content:'\f007';
         font-family: 'FontAwesome';
         padding-right: 7px;
      }
   }

   .espresso_ical_link {

      &::after {
         content:'iCal \f073';
         font-family: 'FontAwesome';
      }

         img {
         display: none;
         }
   }

}




/* ==========================================================================
   Footer
   ========================================================================== */

footer { 
   background-color: @sand;
   padding: 30px 30px;

   .icl_languages_selector {

      #lang_sel_list ul a, 
      #lang_sel_list_list ul a:visited {
         padding: 8px 10px;
         border: none;
         border-width: 0px;
         font-family: 'Lato';
         font-size: 16px;
         font-weight: 100;
         color: white;
         background: @orange;
         &:hover, 
         &:focus {
            background: @fire;
            color: white;
         }
      }
   }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
