/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";
@import "fonts.less";
@import "mixins.less";
@import "buddypress.less";
@import "custom-post.less";
@import "workshops.less";
@import "colors.less";
@import "fonts.less";




/* ==========================================================================
   Body
   ========================================================================== */


body { 

   .sans-font;
   font-weight: 300;
   line-height: 2.5em;

   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      .serif-font;
      font-weight: 300;
   }

   h1 {
      font-size: 40px;
      font-weight: 500;
      color: #3B3B3B;
   }

   h3 {
      font-size: 26px;
   }

   p {
      font-size: 18px;
      color: @dark;

   }


   a {
      color: @apricot-dark;;
      &:hover, 
      &:focus {
         color: @apricot;
         text-decoration: none;
      }
   }

   i {
      font-family: 'FontAwesome';
      font-style: normal;
   }

   input[type=text] {
      width: 100%;
   }
   
   input[type="button"], 
   input[type="reset"], 
   input[type="submit"] {
      background-color: @apricot-dark;
      border: none;
      color: @white;
      padding: 3px 16px;
   }
   
   .avatar{
      .circle-shape;
   }
   .button {
      .button-orange;
   }  
}



/* ==========================================================================
   Header
   ========================================================================== */


.navbar { 

   background-color: #FFF;
   border-color: #FFF;

   .navbar-brand {
      height: auto;
   }

   .navbar-nav{
      margin-top: 60px;
      .navbar-links;

      .open {
         
         a {
            color: white;
            font-weight: 100;
            &:hover, 
            &:focus {
               background-color: @apricot-dark;
               color: white;
            }
         }
      }

      .active {
         a{
            .active-tab; 
         }
           
      }


   }



}

#wpadminbar {
   background-color: transparent;

   #wp-toolbar {
      #wp-admin-bar-root-default {
         #wp-admin-bar-wp-logo{
            display: none;
         }
         #wp-admin-bar-site-name{
            display: none;
         }
         #wp-admin-bar-social_login {
            float: right;
            margin-right: 17%;
            a {
               .button-orange-small;
               font-size: 14px;

               &::before {
                  .fa-icon;
                  content: '\f090';
                  color: inherit;
                  font-size: 24px;

               }
            }

         }
      }

      #wp-admin-bar-top-secondary {
         #wp-admin-bar-search {
            display: none;
         }

         #wp-admin-bar-my-account {
            background-color: @apricot;

            * {
               background-color: @apricot;
               color: @white;
               font-size: 14px;
               .sans-font;
            }
         }

         #wp-admin-bar-bp-notifications{
            background-color: @apricot;
         }
      }
     
   }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { 

   .entry-content {
      >h3 {
         margin-bottom: 20px;
         margin-top: 40px;
      }
   }

}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   .widget {
      font-size: 16px;
      line-height: 1.9em;
      padding: 10px 20px;
      margin: 20px 0px;

      ul {
         padding-left: 20px;
      }

      li {
         margin-bottom: 10px;
      
      }

      &.widget_em_widget,
      &.widget_text { // Events
         
         .widget-green;
         input[type="button"], 
         input[type="reset"], 
         input[type="submit"] {
            background-color: @green-dark;
            border: none;
            color: @sand;
            padding: 3px 16px;
         }

      }

      &.testimonialrotatorwidget-3.TestimonialRotatorWidget { // Testimonial
         
         .widget-orange;

         .testimonial_rotator_widget_blockquote { 
            padding: 10px 0px;
            margin: 0 0 0px;
            font-size: 16px;
            border-left: none;
            line-height: 1.7em;

            cite {
               font-size: 14px!important;
            }

            &::before {
               font-family: 'FontAwesome';
               content: '\f10d';
               margin-right: 5px;
            }
         }
      }
    
      &.widget_bp_groups_widget { // Groups

         .widget-orange;

         .item-list {
            img.avatar {
            height: 40px;
            margin-right: 10px;
            width: 40px;
            }
         }

         .item-options {
            color: @green;
            line-height: 3em;
            a {
               padding: 9px 11px;
               font-size: 17px!important;
            }

            .selected {
               color: @white;
            }
         }     
      }
   }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

footer.content-info { 
   background-color: @apricot-light;
   padding: 30px 30px;
   color: @white;
      
      a {
         color: @sun;
         &:hover, 
         &:focus {
            color: @sand;
            text-decoration: none;
         }
      }

   .copyright {
      p {
         color: @white;
      }
      
   }

   .icl_languages_selector {

      #lang_sel_list ul a, 
      #lang_sel_list_list ul a:visited {
         padding: 8px 10px;
         border: none;
         border-width: 0px;
         font-family: 'Lato';
         font-size: 16px;
         font-weight: 100;
         color: white;
         background: @apricot;
         &:hover, 
         &:focus {
            background: @apricot-dark;
            color: white;
         }
      }
   }
}









/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
