/*!
 * Roots 6.5.1
 */

@import "buttons.less";
@import "bootstrap/bootstrap.less";
@import "fonts.less";
@import "mixins.less";
@import "buddypress.less";
@import "custom-post.less";
@import "workshops.less";
@import "home.less";
@import "colors.less";
@import "header.less";
@import "fonts.less";
@import "widgets.less";
@import "country.less";





/* ==========================================================================
   Body
   ========================================================================== */



body { 


   &.logged-in  {
     margin-top: -32px !important  ; 
     @media (max-width: 786px) {
       margin-top: -46px !important 
     }
   }
   
   font-size: 17px;
   color: @grey;
   line-height: 1.8em;

   .sans-font;
   font-weight: 300;
   line-height: 2.5em;

   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      .serif-font;
      font-weight: 300;
   }

   h1 {
      font-size: 32px;
      font-weight: 500;
      color: #3B3B3B;
      line-height: 1.4em;
   }
   h2 {
      line-height: 1.5em;
      margin-top: 30px;
      font-size: 28px;
   }
   h3 {
      font-size: 22px;
      line-height: 1.5em;
   }

   p {
      font-size: 17px;
      color: @grey;
      line-height: 1.8em;
   }


   a {
      color: @apricot-dark;;
      &:hover, 
      &:focus {
         color: @apricot;
         text-decoration: none;
      }
   }

   i {
      font-family: 'FontAwesome';
      font-style: normal;
   }

   li {
      line-height: 1.8em;
   }
   
   input[type="button"], 
   input[type="reset"], 
   input[type="submit"] {
      background-color: @apricot-dark;
      border: none;
      color: @white;
      padding: 3px 16px;
   }
   
   .avatar{
      .circle-shape;
   }
   .button {
      .button-orange;
      font-size: 20px;
   } 


   img {
      max-width: 100%;
      height: auto;
   } 

   blockquote {
      border-left: 10px solid #f4e9bd;
      background-color: @sand; 

      p {
         font-size: 18px;
         line-height: 2em;
         font-style: italic;
      }

   }

   textarea {
     width: 100%;
   }

   // Browser Outline Keyboard Support

   :focus {
      outline: 2px solid @apricot-light;
   }
   
}



.wrap {
   margin-top: 20px;

   @media (min-width: 990px) and (max-width: 1050px) {
      width: 900px;
   }

   @media (min-width: 1198px) and (max-width: 1250px) {
      width: 1100px;
   }
}


.social-share {
 margin-top: 30px;

   .addthis-share-btn {
      margin-right: 10px; 
   }
}

/* ==========================================================================
   Gallery
   ========================================================================== */


dl.gallery-item {
width: 24%;
float: left;
margin-right: 1%;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { 

   

}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   margin-bottom: 60px;

   .page-header {
      border-bottom: none;
   }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {

   input[type=text],
   input[type=email] {
      width: 100%;
   }

}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.single {
   #comments {
      .comment {

         .avatar {
         float: left;
         margin-right: 15px;
         }

         margin-top: 25px;
         margin-bottom: 35px;
         .media-body {
            margin-top: 10px;

            time {
               font-size: 14px;
            }
         }
      }
      
   }
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer.content-info { 
   .footer-bottom {
      margin-top: 50px;
   }
}



/* ==========================================================================
   Gallery2
   ========================================================================== */


dl.gallery-item {
   width: 24%;
   float: left;
   margin-right: 1%;
}




/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
