/* ==========================================================================
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ==========================================================================
   BuddyPress 
   ========================================================================== 
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


   ========================================================================== */
/* ==========================================================================
   General Styles
   ========================================================================== */

body.buddypress{

}





/* ==========================================================================
   Admin Bar
   ========================================================================== */

.bp-user.following.activity {
   #item-header,
   #item-nav {
      display: none;
   }


}

#wpadminbar {
   background-color: transparent;
   position: absolute;
   left:auto!important;
   right: 0!important;
   width: 300px;
   min-width: 0px;   
   top: 8px;
   position: fixed;

   a {
      color: @white;
      &:active,
      &:hover, 
      &:focus {
         color: @sand;
      } 
   }

   #wp-toolbar {

      
      #wp-admin-bar-root-default {
         float: left;
         margin-left: 25%;
         
         li:nth-child(1),
         li:nth-child(2),
         li:nth-child(3),
         li:nth-child(4),
         li:nth-child(5),
         li:nth-child(6),
         li:nth-child(7),
         li:nth-child(8),
         li:nth-child(9),
         li:nth-child(10) {  
           display: none;
         }

         #wp-admin-bar-my-newsfeed,
         #wp-admin-bar-my-profile {
            margin-top: 5px;
            padding-right: 10px;
            a {
               .button-orange-color;
            }
         }

         #wp-admin-bar-wall {
            display: none;
         }
         
      }

      #wp-admin-bar-top-secondary {
         margin-right: 7%;

      

         // Template match fix
         #wp-admin-bar-my-account,
         #wp-admin-bar-bp-notifications {

            background-color: @apricot-dark;

            a {
               font-size: 16px;
               padding: 5px 15px;

               span {
                  .square-shape;
               }

            }

            * {
               background-color: @apricot-dark;
               color: @white;
               font-size: 14px;
               .sans-font;

               &:active,
               &:hover, 
               &:focus {
                  color: @sand;
               } 


               img {
                  .circle-shape;
               }
            }
         }
         // Template match fix END

         #wp-admin-bar-my-account {
            > a.ab-item {
               .avatar.photo {
                  border-color: @apricot;
                  width: 30px;
                  height: 30px;
               }
            }

            .ab-sub-wrapper {
               
               #wp-admin-bar-user-actions {

                  
                  #wp-admin-bar-edit-profile{
                     margin-top: 10px;
                     margin-left: 0px;
                     a{
                        &::before {
                           .fa-icon;
                           content: '\f040';
                        }
                     }
                  }

                  #wp-admin-bar-logout{
                     margin: 5px 0px;
                     a{
                        
                        &::before {
                           .fa-icon;
                           content: '\f08b';
                        }
                     }
                  }  
               }

               #wp-admin-bar-my-account-buddypress{
                  margin-top: -10px;

                     
                     #wp-admin-bar-my-account-messages {

                           > a.ab-item {
                              margin-left: 25px;
                              margin-bottom: 10px;
                              
                              &::before {
                              .fa-icon;
                              content: '\f003';
                              margin-left: 12px;
                              font-size: 14px;
                              vertical-align: middle;
                              }
                           }
                           
                           

                     }

                     #wp-admin-bar-my-settings {
                           
                         margin: 0px;
                        
                        .ab-item {

                           background-color: #c15238;
                           color: @sand;
                           font-size: 16px;
                           padding-left: 15px;
                           padding-top: 10px;
                           &:hover {
                              color: @sand;
                           }

                           font-size: 14px;
                           text-transform: uppercase;
                           
                           &::after {
                              .fa-icon;
                              content: '\f0d7';
                              margin-left: 5px;
                              font-size: 14px;
                              vertical-align: middle;
                           }
                        }
                     }

                     #wp-admin-bar-my-avatar {
                        a::before {
                           .fa-icon;
                           content: '\f007';
                           margin-left: 5px;
                           font-size: 14px;
                           vertical-align: middle;
                        }
                     }

                     #wp-admin-bar-my-events {
                        a::before {
                           .fa-icon;
                           content: '\f133';
                           margin-left: 5px;
                           font-size: 14px;
                           vertical-align: middle;
                        }
                     }

                     #wp-admin-bar-my-email-notifications {
                        a::before {
                           .fa-icon;
                           content: '\f0e0';
                           margin-left: 5px;
                           font-size: 14px;
                           vertical-align: middle;
                        }
                     }

                     .ab-sub-wrapper{
                        background-color: @apricot-dark !important;
                     }
                  
               }
               .user-settings a {
                 font-size: 14px!important;
                 padding-left: 10px;
                 margin: 0px;
                  background-color: #c15238;
               }

            }
         }

         #wp-admin-bar-bp-notifications{


            
            #ab-pending-notifications {
               
               color: @white;
               font-weight: 300;
            
               &::before {
                  .fa-icon;
                  content: '\f0f3';
                  color: @white;
                  font-size: 20px;
                  left: 20px;
               }

            }
         }
      }
     
   }
}



/* ==========================================================================
   BuddyPress Directory
   ========================================================================== */

.groups.directory,
.members {

   .page-header{
      .button {
         .button-orange;
         font-size: 16px;
         float: right;
         &::before {
            font-family: 'FontAwesome';
            content: '\f067';
            text-align: middle;
            padding-right: 5px;
         }
      }
   }

   #buddypress{

      

      .dir-search{
         float: none;
         margin: 0 auto;
         display: block;
         position: relative;
         width: 100%;
         padding: 5% 20%;
         background-color: @sand;
         margin-bottom: 20px;

         input[type="text"] {
            font-weight: 300;
            padding: 5px 14px;
            font-size: 20px;
         }
         input[type="submit"] {
            .button-orange;
            padding: 6px 16px;
         }
      }

      .dir-form {

         

         .item-list-tabs{
            float: left;
            clear: none;
            .tab;
            .selected a{
               .tab-line;
            }

            display: none;

         }

         #subnav{
            float: left;
            label{
               font-size: 16px;
               font-weight: 300;
            }
            select{
               font-size: 16px;
               font-weight: 300;
               .sans-font;

            }
            display: block;
         }

         .dir-list{

            #message.info {
               position: relative;
               top: 70px;
            }
            
            li {
               padding: 25px 0;
               .item {

                  
                  
                  .item-title{
                     margin-left: 60px;
                     max-width: 680px;
                     a {
                        font-size: 22px;
                     }
                     .update {
                        font-size: 16px;
                        font-weight: 300;
                        .activity-read-more {
                           a {
                              font-size: 14px;
                           }
                        }
                     }
                  }
                  .item-desc {
                     width: 70% !important;
                     font-size: 16px !important;
                     line-height: 1.7em;
                  }

                  .item-meta {
                     .activity{
                        font-size: 14px;
                        display: none;
                     }
                     
                  }
               }

               .action{
                  font-size: 18px;

                  .add {
                     .button-orange-small;
                  }

                  .generic-button{
                     .group-button {
                        .button-orange-small;
                     }
                  }
               }
            }
            
         }

      }

   }


   
}


/* ==========================================================================
   BuddyPress Single Pages
   ========================================================================== */

// Body
.single-item.groups,
.bp-user { 
   
   // Content
   .content {
      .page-header{
         display: none;
      }
      
      // Buddypress
      #buddypress {

         #item-header{
            
            #group-admins {
               padding-left: 0;
               li {
                  float: left;
               }
            }
            .highlight,
            .activity {
               font-size: 16px;
               margin-left: 15%;              
            }
            
            #item-actions{
               margin: 0;
               text-align: left;
               width: 100%;
               float: left;
               
               h3 {
                  font-size: 20px;
               }
               
            }  

            #item-header-avatar {
               margin-top: 25px;
               #bp-verified-header {
                  width: 40px;
                  height: 40px;
                  display: block;
                  position: absolute;
                  top: 85px;
                  left: 205px;
               }
            }

            #item-header-content {
               .activity{
                  display: none;
               }
               #item-meta {
                  #latest-update{
                     display: none;
                  }
                  
               }
            }
         }


         #item-nav {
            margin: 20px 0px;

            a {
               font-size: 16px;
               font-weight: 500;
               color: @apricot;
               padding: 5px 0px 0px 0px;
               margin: 0px 15px;
               border-bottom: 2px solid @white;
               &:hover {
                  .tab-line;
                  color: @apricot-dark;
               }
            }
            
            .tab;
            .selected a{
               
               .tab-line;
               color: @apricot-dark;
               font-weight: 700;
            }   

            .item-list-tabs {
               #nav-documents-groups-li,
               #nav-documents-personal-li{
                  background: none;
               }


            } 

            span {
               .counter;
            } 
         }


         // Item Body
         
         #item-body {

            #subnav {
               display: none;
            }

            // Add Content

            .bpfb_form_container {

               .activity-form-container;
            } 
            // Add Content END


            // Activity Timeline
            .activity {

               .activity-stream-mixin;
            }
            // Activity Timeline END

            // Documents
            #bp-group-documents {
               #bp-group-documents-list{

                  .bp-group-documents-title{
                     font-size: 18px;
                     .group-documents-filesize{
                        font-size: 80%;
                     }
                  }

                  .bp-group-documents-meta {
                     font-size: 16px;
                  }

                  .admin-links {
                     font-size: 14px;
                  }
               }
               #bp-group-documents-upload-new{
                  margin-top: 40px;
               }
               .button {
                  .button-orange-small;
               }
            }
            // Documents END

            // Members
            #member-list {

               li {
                  margin-bottom: 10px;
                  padding: 10px 0px;
                  font-size: 20px;
                  border: none;
                  box-shadow: none;

                  h5{
                     margin-top: 16px;
                     font-size: 18px;
                  }

                  .activity {
                     display: none;
                  }
                  
                  .action {

                     top: 27px;

                     .generic-button{

                        .friendship-button {
                              .button-orange-small;
                        }
                        
                     }
                  }
               }
               
            }
            // Members END


            

         }
         // Item Body END
      }
      // Buddypress END
      
   }
   // Content END
   
}
// Body END



/* ==========================================================================
   BuddyPress Single Post
   ========================================================================== */

.my-activity,
.page-id-465 {
   #buddypress {
      .activity {
          .activity-stream-mixin;

          .activity-list li .activity-content {
             
             margin-left: 90px;
             
          }
       }
   }
}



/* ==========================================================================
   SITEWIDE Activity Stream
   ========================================================================== */

.page-id-465,
.home-page.logged-in {

   .bpfb_form_container,
   #whats-new-form {

      .activity-form-container;
   } 

   .item-list-tabs{

      li {

         padding: 0px 0px !important;
         margin: 40px 10px 0px 10px !important;
         .tab !important;

         a {
            padding: 5px 0px !important;
            margin: 0px 0px !important;
            &:hover {
               .tab-line !important;
            }
            span {
               .counter !important;
            } 
         }

         &.selected {
            .tab-line !important;
            a{
               background-color: @white!important;
               color: @apricot !important;
               &:hover {
                  border-bottom: 0px solid @apricot!important;
               }
            }
         }
      }
   
      

   }

   .activity {
      .activity-stream-mixin !important;
   }



}




/* ==========================================================================
   Activity Stream MIXINS
   ========================================================================== */


.activity-stream-mixin {

   // Activity List
   .activity-list {
      border-top: none;

      // Activity Item
      .activity-item { 
         padding: 10px 0; 

         // Activity Avatar
         .activity-avatar{
            a { 
               img {
                  margin-left: 30px;
                  height: 50px;
                  width: 50px;
               }

               #bp-verified {
                  width: 20px;
                  height: 15px;
                  top: 70px;
                  left: 60px;
                  img {
                     margin-left: 0px;
                     height: 20px;
                     width: 20px;
                  }
                  display: none;
               }
            }
         }
         // Activity Avatar END

         // Activity Content
         .activity-content { 
            margin: 0 0 0 10px;
            .activity-header{
               margin-bottom: 20px;
               p {
                  font-size: 16px;
                  img {
                     vertical-align: middle;
                     margin: 0px 5px 3px 5px !important;
                  }
               }

            }

            .activity-inner {
               p, img {
                  margin: 5px 5px 5px 0px;
               }

               iframe {
                  .responsive-video;
               }

               .bpfb_final_link{

                  .bpfb_link_preview_container { // Preview Window
                     width: 300px;
                     height: 300px;
                     vertical-align: middle;
                     display: table-cell;
                     text-align: center;
                     padding: 10px;
                     border: 1px solid #EDEDED;
                     margin-right: 10px;
                        img {
                           width: auto;
                           max-height: 300px;
                        }

                  }



                  .bpfb_link_contents{

                     line-height: 2em;
                     margin-left: 0px;

                     .bpfb_link_preview_title{
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 1.5em;
                        margin-bottom: 5px;
                        margin-top: 5px;
                     }

                     .bpfb_link_preview_url{
                        font-size: 12px;
                        line-height: 1.5em;
                        a {
                           color:#AAA;
                           &:hover {
                              color:#AAA;
                              text-decoration: underline;
                           }
                        }


                     }
                     .bpfb_link_preview_body{
                        margin-top: 10px;
                        font-size: 16px;
                        line-height: 1.5em;
                     }
                  }



               }

               .bpfb_images {
                  img {
                     max-width: 300px;
                  }
               }

               .activity-read-more {
                  margin-left: 0;
                  white-space: nowrap;
                  float: right;
                  font-size: 16px;
                  display: none;
               }

            }

            .activity-meta {

               margin: 20px 10px 10px 20px;


               .button {
                  .activity-action-yes;

                  &.acomment-reply{
                     span {
                        .counter;
                     }
                  }
               } 

               

               

               
            }
         } 
         // Activity Content END

         // Activity Comments
         .activity-comments { 

            .ac-reply-content{
               input[type="submit"] {
                  .button-orange-small;
                  height: 40px;
                  padding: 3px 15px;
               }
            }

            .acomment-avatar {
               img{
                  margin: 6px 9px 3px 5px !important;
               }
            }
            .acomment-meta {
               font-size: 16px!important;

            }
            .acomment-content {
               p {
                  font-size: 16px;
               }
            }
            .acomment-options {

               a {
                  color: @apricot;
                  font-size: 14px;
               }

               .acomment-reply {
                  .activity-action-yes;
                  padding: 6px 10px;

                  &::before{
                     .fa-icon;
                     content: '\f112';
                  }
               }
               
            }
         } 
         // Activity Comments END
      }
      // Activity Item END
   }
   // Activity List END
}
// Activity Timeline END

.activity-form-container {

   background-color: @sand;
   padding: 30px 20px 10px 20px;
   margin-bottom: 25px;

   #whats-new-avatar{
     .activity-greeting {
         margin-bottom: 25px;
         font-size: 20px;
      }
   }

   #whats-new-content {
   
      textarea {
         height: 50px !important;
         background: #FFF !important;
         color: @grey !important;
         font-size: 20px !important;
         padding: 6px !important;
         border: none !important;
      }

      .bpfb_actions_container.bpfb-theme-round{
         .bpfb_toolbarItem {
                        background: @apricot-dark !important;
                        border: 0px solid #FFF !important;
                        clear: both;
                        margin-bottom: 10px;
                        &:visited,
                        &:hover {
                           background: @apricot !important;
                        }

                        span {
                           position: absolute;
                           left: 150px ;
                           display: inline-block;
                           color: @apricot-dark;
                           font-size: 16px;
                           &:visited,
                           &:hover {
                              color: @apricot;
                           }

                        }
          }  
         .bpfb_toolbar_container{ //Select Media Type
            
            

            #bpfb_addPhotos,
            #bpfb_addVideos {
            display: none;
            }


         }

         .bpfb_controls_container { // URL, PREVEIW
            input[type="button"]{
               .button-green;
               height: 40px;
               padding: 3px 15px;
               margin-top: 20px; 
            }


         }


         &.bpfb-theme-new.bpfb-alignment-left {
            float: left;
            background-color: @sand;
            padding: 15px 20px 0px 20px;

            input#bpfb_cancel_action {
               margin-bottom: 20px;
            }
         }

         .bpfb_preview_container { // Preview Window
            margin-top: 20px; 
            


            iframe {
               .responsive-video;
            }

            img.bpfb_preview_photo_item { // Image
               width: 50%;
               margin-bottom: 20px;
            }


         }

         .bpfb_action_container { // Actions, Add, Cancel
            input[type="button"] {
               .button-orange-small;
               height: 40px;
               padding: 3px 15px;
            }
         }

         
         
         
      }

      #whats-new-options{
         margin-right: 12px;
         height: 60px !important;
         #aw-whats-new-submit {
            height: 50px;
            padding: 0px 16px;
         }
      }


   }
} 

/* ==========================================================================
   BuddyPress My Account Post
   ========================================================================== */

.my-account,
.my-profile {
   #buddypress {

      #item-header {
         #item-buttons{
            .generic-button .activity-button,
            .generic-button .friendship-button{
               .button-orange-small;
            }
         }
      }

      #item-nav {
         #messages-personal-li {
            display: none;
         }
      }


      #item-body{
            .profile {
               h4 {
                  font-size: 30px;
                  margin: 50px 0px 30px 0px;
               }

               >p {display: none}

               #avatar-upload-form {

                  input[type="submit"] {
                     .button-orange;
                  }

                  font-size: 14px;

                  >p {
                     font-size: 16px;
                  }

                  #avatar-upload{
                     background-color: @clouds;
                     width: 50%;
                     padding: 3%;
                     margin-bottom: 30px;

                     input[type="file"]::-webkit-file-upload-button {
                        .button-orange-small;
                        cursor: pointer;
                        font-size: 18px;
                        
                     }

                     #file{
                        width: 100%;
                        font-size: 16px;
                     }

                     #upload {
                        .button-green;
                        height: 40px;
                        padding: 3px 15px;
                        margin-top: 10px;
                     }
                  }



                  .edit.button {
                     .button-red;
                     padding: 8px 11px;
                     font-size: 12px;
                     letter-spacing: 0.8px;
                  }


               }

               #avatar-upload-form{
                  h5 {
                     font-size: 22px;
                  }
               }
            }
         }
      }
      
}

/* ==========================================================================
   Activity Stream HACKS
   ========================================================================== */

#buddypress {
   

   #subnav {

      .feed {
         display: none;
      }
      float: left;
   }
   .activity-avatar {
   margin-top: 5px;
   }
   .activity-header {
      p {
         color: #A6A6A6;
         font-size: 14px!important;

         a:first-child { // Users name
            font-size: 16px;
            color: @apricot-dark;

            &:after {
               content: " "; /* Older browser do not support empty content */
               visibility: hidden;
               display: block;
               height: 0;
               clear: right;
            }
            
         }

         a {
            
            img.avatar{
               margin: 0px 5px !important;
               
            }
         }

         a.view { // Time posted - link to post
            
            font-size: 14px!important;
            

            &:hover {
               text-decoration:  none;
            }
            &::after {
               .fa-icon;
               content: '\f08e';
               color: @apricot-dark;
               margin-left: 5px;
               &:hover {
                  color: @apricot;
               }
            }
         }

         
         
      }
   }


   .activity-inner {
   // border: 1px solid #F3F3F3;
   padding: 10px 0px;
   }

   ul.item-list li {
   border-bottom: 0px solid #fff;
   border: 1px solid #E4E4E4;
   margin-bottom: 20px;
      box-shadow: 0px 2px 0px #E4E4E4;
   }  
   ul#groups-list.item-list li {
   border-bottom: 0px solid #fff;
   border: 0px solid #E4E4E4;
   box-shadow: 0px 2px 0px #E4E4E4;
   
   }  
   ul#members-list.item-list li {
   border-bottom: none;
   border: none;
   box-shadow: none;
   
   } 

   .activity-list .activity-content .activity-inner, #buddypress .activity-list .activity-content blockquote {
   margin: 0px 0px 0px 25px;
   overflow: hidden;
   }
}

.bp-user {



   .activity-avatar {
      display: none;
   }

   .activity-header {
      p {
         margin-left: 24px!important;
         &:first-letter{
            text-transform: capitalize
         }

         a:first-child { // Users name
            display: none;

            &:after {
               margin-left: 20px;
               clear: none;
            }
            
         }

         a {
            
            img.avatar{
               margin: 0px 5px !important;
               
            }
         }

         

         
         
      }
   }

   .activity-content {
      margin-left: 0px !important;


   }


}

#buddypress .activity-list .activity-content .activity-header img.avatar {
   margin: 0px 5px !important;
}


.myfeed {
   #buddypress {
      margin-top: -30px;

      #activity-filter-select {
         display: none;
      }
   }
}


// TABLES
#buddypress{
   table {

      thead {
         tr {
            th {
               padding: 5px;
               font-size: 14px;

            }
         }
      }

      tbody {
         tr {

            &:nth-child(odd) {
               background-color: @sand-light;
            }
            td {
               padding: 5px;
               height: 70px;
               font-size: 14px;

               .em-bookings-cancel {
               font-size: 12px;
               }

               a {
                  font-size: 16px;
               }
            }
         }
      }
   } 
}
