// ==== Mixins ====

// ******************
// ================== 
// MISC
// ================== 
// ******************


.circle-shape {
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
}

.square-shape {
   -webkit-border-radius: 0%;
   -moz-border-radius: 0%;
   -ms-border-radius: 0%;
   -o-border-radius: 0%;
   border-radius: 0%;
}


.circle-shape-responsive {
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   width: 100%;
   height: 100%;
}

.responsive-video {
   width: 300px;
   max-height: 300px;
}

.event-search-fields {
   float: left;
   margin-right: 2%;
   input[type="text"] {
      height: 55px;
      font-size: 24px;
      color: grey;
      padding-left: 10px;
      width: 100%;
   }
}

.counter {
   background: @sand;
   border: 1px solid @sun;
   color: @apricot-dark;
   .square-shape;
} 



// ******************
// ================== 
// NAVIGATION
// ================== 
// ******************

.active-tab {         
   background-color: @apricot;
   color: white;
   &:active,
   &:hover, 
   &:focus {
      background-color: @apricot-dark;
      color: white;
   }
            
} 

.tab {         
   background-color: @white;
   color: @apricot-dark;
   text-transform: uppercase;
   &:active,
   &:hover, 
   &:focus {
      background-color: @white;
      color: @apricot;
   }
            
}   

.tab-line {         
   background-color: @white;
   color: @apricot-dark;
   border-bottom: 2px solid @apricot-dark;
   &:active,
   &:hover, 
   &:focus {
      background-color: @white;
      color: @apricot;
   }
            
}  

.tab-orange {         
   background-color: @apricot-dark;
   color: @white;
   &:active,
   &:hover, 
   &:focus {
      background-color: @apricot-dark;
      color: @sand;
   }
            
}  



.orange-tab {
   li {
      .serif-font;
      font-size: 16px;

      a {
         color: @apricot;

         &:hover, 
         &:focus {
            color: @apricot-light;
         }

         span {
            background: @sun;
            border: 1px solid @apricot-light;
            color: @apricot-light;
         }
      }

      &.selected {
      
         a {
            font-weight: 300;
            .active-tab; 

            span {
               border: none;
               color: @apricot-dark;
            }
            
         }
      }

    
   }
}

// ******************
// ================== 
// TEXT INPUTS
// ================== 
// ******************

// Define

@inputs-texty: 
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
textarea,
#author,
#comment
;

@inputs-texty-focus: 
input[type=text]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=email]:focus,
textarea:focus,
#author:focus,
#comment:focus   
;

// Style
@{inputs-texty} {
   color: @grey;
   border: 1px solid #FEDBC8;
   background-color: #FFFEF7;
   padding: 5px 8px;
   font-size: 18px;
   border-radius: 0px;
}

@{inputs-texty-focus} {
   border: 1px solid @white;
   background-color: #FFFDF2;
   border-radius: 0px;
}

// ******************
// ================== 
// WIDGETS
// ================== 
// ******************


.widget-orange {
   background-color: @white;
   color: @grey;
   p {
      color: @grey;
   }
   a {
      font-size: 16px;
      color: @apricot-dark;
      &:hover, 
      &:focus {
         color: @apricot;
         text-decoration: none;
      }
   }
   


}

.widget-green {
   background-color: @white;
   color: @grey;
   border: 1px solid @green;
   p {
      color: @grey;
   }
   a {
      font-size: 16px;
      color: @green;
      &:hover, 
      &:focus {
         color: @green-dark;
         text-decoration: none;
      }
   }
   // @{inputs-texty} {
   //    color: @grey;
   //    border: 1px solid @green-mid;
   //    background-color: #FFFEF7;
   //    padding: 5px 8px;
   //    font-size: 18px;
   // }

   // @{inputs-texty-focus} {
   //    border: 1px solid @green;
   //    background-color: #FFFDF2  ;
   // }
  
}

// .widget-orange-OLD {
//    background-color: @apricot;
//    color: @white;
//    p {
//       color: @white;
//    }
//    a {
//       font-size: 16px;
//       color: @sun;
//       &:hover, 
//       &:focus {
//          color: @sand;
//          text-decoration: none;
//       }
//    }
// }

// .widget-green-OLD {
//    background-color: @green;
//    color: @white;
//    p {
//       color: @white;
//    }
//    a {
//       font-size: 16px;
//       color: @sand;
//       &:hover, 
//       &:focus {
//          color: @sun;
//          text-decoration: none;
//       }
//    }
//    input {
//       color: @grey;
//    }
// }

// ******************
// ================== 
// ICONS
// ================== 
// ******************

.fa-icon {
   font-family: 'FontAwesome';
   margin-right: 7px;
   vertical-align: middle;
   color: inherit;
}

.fa-icons-small {
   font-family: 'FontAwesome';
   margin-right: 7px;
   font-size: 20px;
   vertical-align: middle;
}

i.fa-globe {color: @website;}
i.fa-linkedin-square {color: @linkedin;}
i.fa-facebook-square {color: @facebook;}
i.fa-twitter-square {color: @twitter;}
i.fa-google-plus-square {color: @google-plus;}



// ******************
// ================== 
// ADD ITEMS in GALLERY 
// ================== 
// ******************

.add-items {
   width: 280px;
   height: 280px;
   display: block;
   margin-top: 10px;
   text-align: center;   
   background-color: @apricot;
   color: @sun;

   &:hover {
      background-color: @apricot-light;
      color: @sand;
   }

   p {
      font-size: 30px;
      .serif-font;
      color: inherit;
      text-align: center; 
      vertical-align: middle;
      padding-top: 35%;
      line-height: 1.5em;
      padding-left: 10px;
      padding-right: 10px;
   }
}


